/* :root {
  box-sizing: border-box;
  --ff-title: 'Fraunces', serif;
  --ff-text: 'Montserrat', sans-serif;

  --fs-paragraph: 0.875rem;
  --fw-md: 500;
  --fw-bold: 700;
    
  --DarkCyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  --VeryDarkBlue: hsl(212, 21%, 14%);
  --DarkGrayishBlue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

}
*,*::before,*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  font-family: var(--ff-text);
  font-size: var(--fs-paragraph);
  background-color: var(--Cream);
  color: var(--DarkGrayishBlue);
}
.container {
  max-width: 1440px;
  margin-inline: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
img {
  max-width: 100%;
}
.product__card {
  max-width: 370px;
  border-radius: 12px;
  background-color: var(--White);
  overflow: hidden;
  @media (min-width: 700px){
    max-width: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .branding {
      background-image: url(../images/image-product-desktop.jpg);
    }
    .product__description{
      padding: 2em 2.2em;
    }
    .title{
      font-size: 2.2rem;
    }
  }
}
.branding {
  background-image: url(../images/image-product-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15em;
}
.product__description{
  padding: 2em 1.8em 2em;
}
.product__type{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: var(--fw-md);
  color: var(--DarkGrayishBlue);
  font-size: .95rem;
  margin-bottom: .8em;
}
.title{
  font-family: var(--ff-title);
  font-size: 2rem;
  color: var(--VeryDarkBlue);
  font-weight: var(--fw-bold);
}
.text {
  line-height: 1.8;
  margin: 1em 0 3.5em;
  font-size: var(--fs-paragraph);
}
.product__price{
  display: flex;
  align-items: flex-start;
  gap: 2em;
  margin-bottom: 1em;
}
.newPrice{
  font-size: 2.5rem;
  color: var(--DarkCyan);
  font-family: var(--ff-title);
  // background-color: aqua;
}
.oldPrice{
  font-size: 1rem;
  padding-top: .5em;
}
.addToCartBtn{
  width: 100%;
  display: block;
  padding: 1em;
  font-size: 1rem;
  border: none;
  color: var(--White);
  background-color: var(--DarkCyan);
  border-radius: 8px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 1em;
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: 500ms all linear;
  &:hover {
    background-color: hsl(156, 42%, 18%);
  }
}
.btnImg img{
  width: 1.15em;
}
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
    a {
    color: hsl(228, 45%, 44%);
  }
} */